<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main/bootstrap.css">
		<link rel="stylesheet" href="css/main/normalize.css">
		<link rel="stylesheet" href="css/admin/adminMain.css">
		<link rel="stylesheet" href="css/admin/adminArticle.css">
		<title>管理员</title>
	</head>
	<body>
		<header class="Ad_head">
			<button class="btn btn-primary hd_downbtn" onclick="tiggle()">下拉</button>
		</header>
		<div class="col-xs-2 Ad_Lef" id="showandhide">
			<br>
			<input type="text" class="form-control Ad_Lef_sea" placeholder="Search"><br>
			<div class="Ad_Lef_hr"></div><br>
			<div class="Ad_Lef_btn" onclick="UserMeneShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-home Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">用户管理</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="emptyClassShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-education Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">智能排班</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="itemShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-briefcase Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">项目查看</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="itemCreate()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-folder-open Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">项目发布</p></div>
			</div>
			<div class="Ad_Lef_btn_checked" onclick="article()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-calendar Ad_Lef_btnA Ad_Lef_btn_colorchange"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP Ad_Lef_btn_colorchange">库存管理</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="SignIn()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-th-list Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">签到情况</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="MomentsMene()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-comment Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">动态管理</p></div>
			</div>
			<br>
		</div>
		<div class="col-xs-10 Ad_Rig">
			<h2>库存管理</h2><br>
			<div class="Ad_RShow">
				<span class="Ad_btns">
					<a class="nav_btn" onclick="getRawArticleData(4)">所有库存</a>
					<a class="nav_btn" onclick="addArticle()">物品添加</a>
					<input class="" type="text" id="searchArticle" placeholder="输入查询内容" onkeydown='if(event.keyCode==13){searchArticlehandle()}'>
					<a class="nav_btn" onclick="searchArticlehandle()">搜索</a>
					<span>状态选择：</span>
					<select name="sel_status" id="sel_status" onchange="selectArticle()">
						<option value="4">显示全部</option>
						<option value="1">有库存</option>
						<option value="2">无库存</option>
						<option value="3">已下架</option>

					</select>
				</span><hr>
				<div class="Ad_Article_Main">
					<table id="articleMsgShow" class="table table-condensed table-hover">

					</table>
				</div>
			</div>
		</div>
		<!-- 以下为库存种类添加，默认隐藏 -->
		<section class="cover" id="coverDiv" onclick="hideAll()"></section>
		<section class="showSetting" id="SetDiv">
			<div class="Set_pic articlebk">
				<p class="Set_tit">物品添加</p>
			</div>
			<section class="Set_xm" onclick="">
				<div class="Set_sp">物品名称：</div><input class="form-control" type="text" placeholder="请输入物品名称" id="insertItemname">
				<div class="Set_sp">数量：</div><input class="form-control" type="number" placeholder="请输入物品数量" id="insertNumber">
			</section>
			<p id="createResult" class="Set_btn_P"></p><br>
			<div class="Set_btn_M">
				<button class="Set_btn col-xs-6 handlegreen" onclick="insertArticle()">插入</button>
				<button class="Set_btn col-xs-6" onclick="hideAll()">取消</button>
			</div>
		</section>
		<!-- 以下为库存数量添加，默认隐藏 -->
		<section class="cover" id="coverDiv_ch" onclick="hideAll_ch()"></section>
		<section class="showSetting" id="SetDiv_ch">
			<div class="Set_pic articlebk">
			<p class="Set_tit">添加物品数量</p>
			</div>
			<span id="showarticlename" class=""></span><span>:目前库存数量为：</span><span id="showarticlenumber"></span>
			<!--用于等会ajax传输数据-->
			<span id="articleid" style="display: none"></span>
			<section class="Set_xm">
				<select class="form-control" name="changeart" id="changeart_sel" onclick="clearvalue(this)">
					<option value="" selected="true" disabled="true">—选择添加数量—</option>
					<option value="1">1</option>
					<option value="5">5</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<p class="set_de" >或手动输入添加数量</p>
				</div><input class="form-control" type="number" placeholder="手动输入数量" id="changeart_inp" onclick="clearvalue(this)">
			</section>
			<p id="changeResult" class="Set_btn_P"></p><br>
			<div class="Set_btn_M">
				<button class="Set_btn col-xs-6 handlegreen" onclick="updateArticle()">添加</button>
				<button class="Set_btn col-xs-6" onclick="hideAll_ch()">取消</button>
			</div>
		</section>

		<!-- 以下为库存数量减少，默认隐藏 -->
		<section class="cover" id="coverDiv_ch_2" onclick="hideAll_ch_2()"></section>
		<section class="showSetting" id="SetDiv_ch_2">
			<div class="Set_pic articlebk">
				<p class="Set_tit">减少物品数量</p>
			</div>
			<span id="showarticlename_2" class=""></span><span>:目前库存数量为：</span><span id="showarticlenumber_2"></span>
			<!--用于等会ajax传输数据-->
			<span id="articleid_2" style="display: none"></span>
			<section class="Set_xm">
				<select class="form-control" name="changeart" id="changeart_sel_2" onclick="clearvalue(this)">
					<option value="" selected="true" disabled="true">—选择减少数量—</option>
					<option value="1">1</option>
					<option value="5">5</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<p class="set_de" >或手动输入减少数量</p>
				</div><input class="form-control" type="number" placeholder="手动输入数量" id="changeart_inp_2" onclick="clearvalue_2(this)">
			</section>
			<p id="changeResult_2" class="Set_btn_P"></p><br>
			<div class="Set_btn_M">
				<button class="Set_btn col-xs-6 handlegreen" onclick="updateArticle_2()">减少</button>
				<button class="Set_btn col-xs-6" onclick="hideAll_ch_2()">取消</button>
			</div>
		</section>

		<!-- 以下为更改库存状态，默认隐藏 -->
		<section class="cover_3" id="coverDiv_ch_3" onclick="hideAll_ch_3()"></section>
		<section class="showSetting_3" id="SetDiv_ch_3">

			<p class="Set_tit_3">更改物品状态</p>

			<span>目前为：</span><span id="showarticlestatus_3" class=""></span><span id="showarticlenumber_3"></span>
			<!--用于等会ajax传输数据-->
			<span id="articleid_3" style="display: none"></span>
			<section class="Set_xm">
				<select class="form-control" name="changeart" id="changeart_sel_3">
					<option value="" selected="true" disabled="true">—选择状态—</option>
					<option value="1">上架</option>
					<option value="2">下架</option>
				</select>
			</section>
			<p id="changeResult_3" class="Set_btn_P"></p><br>
			<div class="Set_btn_M">
				<button class="Set_btn col-xs-6 handlegreen" onclick="updateArticle_3()">确定</button>
				<button class="Set_btn col-xs-6" onclick="hideAll_ch_3()">取消</button>
			</div>
		</section>

        <script src="js/adminHref.js"></script>
		<script src="js/adminArticle.js"></script>
		<script src="js/jquery.min.js"></script>
		<script>
			$(function(){
				getRawArticleData();
			})





		</script>
	</body>
</html>