<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main/bootstrap.css">
		<link rel="stylesheet" href="css/main/normalize.css">
		<link rel="stylesheet" href="css/Main.css">
		<link rel="stylesheet" href="css/admin/adminMain.css">
		<link rel="stylesheet" href="css/admin/adminEmptyclass.css">
		<title>管理员</title>
		<style>html,body {width: 100%; height: 100%;}</style>
	</head>
	<body>
		<header class="Ad_head">
			<button class="btn btn-primary hd_downbtn" onclick="tiggle()">下拉</button>
		</header>
		<div class="col-xs-2 Ad_Lef" id="showandhide">
			<br>
			<input type="text" class="form-control Ad_Lef_sea" placeholder="Search"><br>
			<div class="Ad_Lef_hr"></div><br>
			<div class="Ad_Lef_btn" onclick="UserMeneShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-home Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">用户管理</p></div>
			</div>
			<div class="Ad_Lef_btn_checked" onclick="emptyClassShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-education Ad_Lef_btnA Ad_Lef_btn_colorchange"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP Ad_Lef_btn_colorchange">智能排班</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="itemShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-briefcase Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">项目查看</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="itemCreate()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-folder-open Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">项目发布</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="article()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-calendar Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">库存管理</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="SignIn()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-th-list Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">签到情况</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="MomentsMene()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-comment Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">动态管理</p></div>
			</div>
			<br>
		</div>
		<div class="col-xs-10 Ad_Rig">
			<h2>值班安排</h2><br>
			<div class="Ad_RShow_r">
				<select name="whichweek" id="whichweek_2" class="myselect">
				</select>
				<select name="thisweek" id="weekday_2" class="myselect">
					<option value="1">周一</option>
					<option value="2">周二</option>
					<option value="3">周三</option>
					<option value="4">周四</option>
					<option value="5">周五</option>
					<option value="6">周六</option>
					<option value="7">周日</option>
				</select>
				<input type="button" class="btn btn-small btn-primary" onclick="loadanpai()" value="搜索">
				<input type="button" value="手动排班" class="btn btn-small btn-success" onclick="addAnapi()">
				<hr>
				<div id="zhibanshow">
				<span>12:00-14:00</span><br>
					<p id="first_arr">
					</p>
					<hr>
				<span>14:00-16:00</span><br>
					<p id="second_arr">
					</p>
					<hr>
				<span>18:00-20:00</span><br>
					<p id="third_arr">
					</p>
				</div>
				<hr>
			</div>
			<div class="Ad_RShow_l"><br>
				<span class="Ad_btns">
						<select name="whichweek" id="whichweek" class="myselect">
						</select>
						<select name="weekday" id="weekday" class="myselect">
							<option value="1">周一</option>
							<option value="2">周二</option>
							<option value="3">周三</option>
							<option value="4">周四</option>
							<option value="5">周五</option>
							<option value="6">周六</option>
							<option value="7">周日</option>
						</select>
						<select name="zhibantime" id="zhibantime" class="myselect">
							<option value="1">12:00-14:00</option>
							<option value="2">14:00-16:00</option>
							<option value="3">18:00-20:00</option>
						</select>
						<!--<select name="username" id="username" class="myselect">-->
							<!--<option value="" selected="true" disabled="true">—学生—</option>-->
							<!--<option value="1">全部</option>-->
						<!--</select>-->
						<input type="button" class="btn btn-small btn-primary" onclick="searchEmptyclass()" value="搜索">
						<a class="btn btn-danger btn-sm" onclick="updateMemberkb()">更新部员课表</a>
				</span><hr class="hranpai"><br>
				<div class="Ad_User_Main">
					<table id="emptyclassdata" class="table table-condensed table-hover">
						<span id="msg918"><h1>第9、18周为我校考试周。因无考试安排数据，请手动排班。</h1></span>
					</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 以下安排手动添加，默认隐藏 -->
		<section class="cover" id="coverDiv_anpai" onclick="hideAll_anpai()"></section>
		<section class="showSetting" id="SetDiv_anpai">
			<div class="Set_pic articlebk">
				<p class="Set_tit">手动排班（第9、18周使用）</p>
			</div>
			<section class="Set_xm" onclick="">
				<select name="" id="whichweek_manual" class="form-control">
					<option value="" selected="selected" disabled="true">--第几周--</option>
				</select>
				<br>
				<select name="" id="weekday_manual" class="form-control">
					<option value="" selected="selected" disabled="true">--星期几--</option>
					<option value="1">周一</option>
					<option value="2">周二</option>
					<option value="3">周三</option>
					<option value="4">周四</option>
					<option value="5">周五</option>
					<option value="6">周六</option>
					<option value="7">周日</option>
				</select>
				<br>
				<select name="" id="zhibantime_manual" class="form-control">
					<option value="" selected="selected" disabled="true">--值班时间--</option>
					<option value="1">12:00-14:00</option>
					<option value="2">14:00-16:00</option>
					<option value="3">18:00-20:00</option>
				</select>
				<br>
				<select name="" id="who_manual" class="form-control"></select>

			</section>
			<p id="anpai_result" class="Set_btn_P"></p><br>
			<div class="Set_btn_M">
				<button class="Set_btn col-xs-6 handlegreen" onclick="insertAnpai()">插入</button>
				<button class="Set_btn col-xs-6" onclick="hideAll_anpai()">取消</button>
			</div>
		</section>
        <script src="js/adminHref.js"></script>
        <script src="js/jquery.min.js"></script>
		<script src="js/adminEmptyclass.js"></script>
		<script>
			$(function(){
				var week_sel=document.getElementById("whichweek")
				for(i=1;i<=22;i++){
					week_sel.options.add(new Option('第'+i+'周',i))
				}
				var week_sel_2=document.getElementById("whichweek_2")
				for(i=1;i<=22;i++){
					week_sel_2.options.add(new Option('第'+i+'周',i))
				}
				loadanpai()
			})
		</script>
	</body>
</html>