<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main/bootstrap.css">
		<link rel="stylesheet" href="css/main/normalize.css">
		<link rel="stylesheet" href="css/admin/adminMain.css">
		<link rel="stylesheet" href="css/admin/adminUser.css">
		<link rel="stylesheet" href="css/admin/adminArticle.css">
		<link rel="stylesheet" href="css/admin/adminItem.css">
		<link rel="stylesheet" href="css/Main.css">
		<title>管理员</title>
		<style>html,body {width: 100%; height: 100%;}</style>
	</head>
	<body onload="selectAllItem()">
		<header class="Ad_head" id="head">
			<button class="btn btn-primary hd_downbtn" onclick="tiggle()">下拉</button>
			<ul class="nav navbar-nav myloginfo" >
				<li class="dropdown">
					<a href="##" class="dropdown-toggle " data-toggle="dropdown" >
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="hrefpointet" onclick="hrefuser()">用户界面</li>
						<li><hr></li>
						<li><form action="index.php?r=site/logout" method="post"><input class="mylogoutbtn" type="submit" value="退出"></form></li>
					</ul>
				</li>
			</ul>
		</header>
		<div class="col-xs-2 Ad_Lef" id="showandhide">
			<br>
			<input type="text" class="form-control Ad_Lef_sea" placeholder="Search"><br>
			<div class="Ad_Lef_hr"></div><br>
			<div class="Ad_Lef_btn" onclick="UserMeneShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-home Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">用户管理</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="emptyClassShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-education Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">智能排班</p></div>
			</div>
			<div class="Ad_Lef_btn_checked" onclick="itemShow()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-briefcase Ad_Lef_btnA Ad_Lef_btn_colorchange"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP Ad_Lef_btn_colorchange">项目查看</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="article()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-calendar Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">库存管理</p></div>
			</div>
			<div class="Ad_Lef_btn" onclick="MomentsMene()">
				<span class="col-xs-2 Ad_Lef_btnPic"><a class="glyphicon glyphicon-comment Ad_Lef_btnA"></a></span>
				<div class="col-xs-10 Ad_Lef_btnWord"><p class="Ad_Lef_btnP">动态管理</p></div>
			</div>
			<br>
		</div>
		<section class="col-xs-10 Ad_Rig">
			<h2>项目查看</h2><br>
			<div class="Ad_RShow"><br>
				<span class="Ad_btns">
					<a class="nav_btn" onclick="selectAllItem()">所有项目</a>
					<input class="enjoy-css" type="text" id="searchitem" placeholder="项目名" onkeydown='if(event.keyCode==13){searchitem()}'>
					<a class="nav_btn" onclick="searchitem()">搜索</a>
					<span class="myword">状态选择：</span>
					<select name="sel_status" class="myselect" id="sel_status" onchange="selectItem()" onclick='document.getElementById("searchUser").value=""'>
						<option value="0">显示全部</option>
						<option value="1">待审核</option>
						<option value="2">已审核</option>
						<option value="3">已完成</option>
						<option value="4">未通过</option>

					</select>
				</span><hr>
				<br>
				<div class="Ad_User_Main">
					<table id="userMsgShow" class="table table-condensed table-hover">
					</table>
				</div>
				<div class="pageStyle_item">
					<button id="item_prev" class="btn-sm btn_prev" onclick="beforePage_item()">上一页</button>
					<button id="item_aft" class="btn-sm btn_after" onclick="afterPage_item()">下一页</button>
				</div>
			</div>
		</section>
		<!--项目详情，默认隐藏-->
		<section class="cover" id="coverDiv_item_1" onclick="hideAll_item_1()"></section>
		<section class="showSetting" id="SetDiv_item_1">
			<div class="Set_pic itembk">
				<p class="Set_tit">项目详情</p>
			</div>
			<span id="itemid" style="display: none"></span>
			<section class="Set_xm">
				<h1 id="item_name_1" style="text-align: center"></h1>
				<h4 id="item_date_1" style="text-align: center"></h4><br><br>
				<p name="" id="item_content_1"></p>
			</section>
			<div class="Set_btn_M mysetforbtn_item">
				<button class="Set_btn col-xs-12" onclick="hideAll_item_1()">取消</button>
			</div>
		</section>
		<script src="js/jquery.min.js"></script>
        <script src="js/adminHref.js"></script>
        <script src="js/adminItem.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script>
			var show = 0;
			function tiggle() {
				if (this.show == 0) {
					document.getElementById("showandhide").style.top = '51px';
					this.show = 1;
				} else {
					document.getElementById("showandhide").style.top = '-100%';
					this.show = 0;
				}
			}

		</script>
	</body>
</html>