.myselect {
    font-size: larger;
    padding: 5px;
    border-radius: 30px;
}
.Ad_RShow_l{
	background-color: #FFF;
	width: 60%;
	border-radius: 5px;
	box-shadow: 1px 0px 7px #BBB;
	height: 80%;
	float: right;
}
.Ad_RShow_r{
	background-color: #FFF;
	width: 35%;
	border-radius: 5px;
	box-shadow: 1px 0px 7px #BBB;
	height: 80%;
	float: left;
}
.myblue{
	color: #0880d7;
}
.hranpai{
	margin-top: 14px;
	margin-bottom: -14px;
}
.spinner {
  margin: 100px auto;
  width: 70px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
 
.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.loadfont{
	color: #E6E1E1;
	text-align: center;
	font-size: 1.5em;
}

.mypadding_anpai{
	padding-top: 15px;
}
.mypadding_anpai select{
	margin-left:5px;
}
.mypadding_anpai input{
	margin-top: -3px;
	margin-left:10px;
}
.mypadding_anpai_2{
	padding-left: 5px;
}
.mypadding_anpai_2 input {
	margin-top: -3px;

}
.mypadding_anpai_2 a {
	margin-top: -3px;

}
.zhibanshow{
	padding: 1px 30px 50px 30px;
}
.zhibanshow span{
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 10px;
}