<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main/bootstrap.css">
	<link rel="stylesheet" href="css/main/normalize.css">
	<link rel="stylesheet" href="css/Main.css">
	<link rel="stylesheet" href="css/teambition.css">
	<link rel="stylesheet" href="css/user/userHomepage.css">
	<title>工程大易班</title>
	<style>html,body{height:100%;}</style>
</head>
<body onload="getRawData()" style="overflow:hidden">
	<header>
		<nav>
			<div onclick="indexShow()" class="nav_pic" style="background-image: url(images/SuesYiBanteam.png);"></div>
			<section class="nav_sec1">
				<a class="nav_btn" href="index.php?r=user/item">项目</a>
				<a class="nav_btn" href="index.php?r=user/homepage">我的</a>
				<a class="nav_btn" href="index.php?r=user/order">排班</a>
				<a class="nav_btn" href="index.php?r=user/getmess">动态</a>
			</section>
			<section class="nav_right">
				<a class="nav_btn glyphicon glyphicon-th-list" onclick="showThing()"><span aria-hidden="true"></span></a>
			</section>
		</nav>
	</header>
	<section class="col-xs-12 home_first">
		<div class="circle" id="circleShow" draggable="false">
			<div class="circle_tougle" id="clickthing">
				<span class="glyphicon glyphicon-plus circle_tougle_plus" aria-hidden="true"></span>
			</div>
			<div class="borderhandle" id="eventShow">
				<h3 class="circle_h3">插入今日事件</h3>
				<textarea class="circle_text" name="insertInPersonal" id="insertInPersonal" cols="30" rows="3" placeholder="添加事件(小于15个字)"></textarea>
				<button id="InsertIn" class="circle_btn">插入</button>
			</div>
		</div>
		<div class="centerIst_btn">
			<a class="nav_btn" onclick="getRawData()">今日</a>
			<a class="nav_btn" onclick="Completed()">已完成</a>
			<a class="nav_btn" onclick="pastOneMonth()">过去一星期</a>
			<a class="nav_btn" onclick="maskhaveToBeDone()">所有未完成任务</a>
		</div>
	</section>
	<section class="col-xs-12 home_Main" id="home_Main">
		<section class="col-xs-1 blockThing" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="leaveDrop(event)" id="completeTodo">
			<section class="cover"></section>
		</section>
		<section class="col-xs-10 todayShow" id="today_Show">
<!-- 				<div id="mission" class="mission_type" draggable="true" ondragstart="drag(event)">
				<span class="mission_SpDes">烧水</span>
				<span class="mission_SpDate">2016-01-26</span>
				<div onclick="Urgenthandle(this,1)" class="mission_SpUrgent normal" data-Num="1"></div>
				<div onclick="Urgenthandle(this,2)" class="mission_SpUrgent urgenter" data-Num="1"></div>
				<div onclick="Urgenthandle(this,3)" class="mission_SpUrgent urgentest" data-Num="1"></div>
				</div> -->
			</div>
		</section>
		<section class="col-xs-1 blockThing" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="leaveDrop(event)" id="deleteTodo">
		</section>
	</section>
	<section class="coverSetting setting_show" onclick="showThing()" id="coverSetting"></section>
	<section class="setting setting_show" id="setting">
		<div class="setting_block"><p class="setting_p" id="getname"></p></div>
		<div class="setting_underline"></div>
		<input type="password" class="setting_textfield" placeholder="新密码" id="Up_password">
		<div class="setting_block" onclick="updatePassword()"><p class="setting_p">更新密码</p></div>
		<div class="setting_underline"></div>
		<form action="index.php?r=site/logout" method="post">
			<input type="submit" class="setting_block setting_logout" value="退出">
		</form>
	</section>
    <script src="js/jquery.min.js"></script>
    <script src="js/userItem.js"></script>
	<script>
		$(document).ready(function() {
			$("#clickthing").click(function(){
				$("#circleShow").toggleClass("circlechange");
		 		$("#eventShow").toggleClass("borderchange");
				$("#clickthing").toggleClass("getithide");
			});
			$("#InsertIn").click(function(){
		  		$("#circleShow").toggleClass("circlechange");
		  		$("#eventShow").toggleClass("borderchange");
		  		$("#clickthing").toggleClass("getithide");
		  		if ($("#insertInPersonal").val() == '' || $("#insertInPersonal").val().length > 15) {
		  			alert('为空或者超过！');
		  			return;
		  		}
		  		$.ajax({
			        type: "POST",
			        url: "index.php?r=ajaxuser/inserttodo",
			        data: {
			            content: $("#insertInPersonal").val(),
			        },
			        dataType: "json",
			        success: function(data){
			            if (data.success) {
			            	getRawData();
			            } else {
			                alert('录入失败！');
			            }
			        },
			        error: function(jqXHR){
			            alert("发生错误：" + jqXHR.status);
			        },
			    });
			});
		});
		function getRawData() {
			$("#today_Show").empty();
			$("#deleteTodo").empty();
			$("#completeTodo").empty();
			$("#getname").empty();
			document.getElementById('today_Show').innerHTML = '<br><p class="TS_head">今天的任务</p><hr><div class="today_Show_miss" id="today_Show_miss">';
			document.getElementById('deleteTodo').innerHTML = '<span class="glyphicon glyphicon-check trash_style" id="deleteIcon" aria-hidden="true"></span>';
			document.getElementById('completeTodo').innerHTML = '<span class="glyphicon glyphicon-trash trash_style" id="completeIcon" aria-hidden="true"></span>';
			var height = document.body.clientHeight -110;
			document.getElementById('home_Main').style.height =  height+'px';
			$.getJSON('index.php?r=json/owntodos', function(data, textStatus) {
				if (textStatus == 'success') {
					document.getElementById('today_Show_miss').innerHTML = data.msg;
					$("#getname").append(data.name);
				} else {
					alert("系统错误" + textStatus);
				}
			});
		}
		//拖放，以后完成对象的处理
		var i = '';
		function drop(Dropevent) {
			Dropevent.preventDefault();
			// var data = Dropevent.dataTransfer.getData("Text");
			//这是任务完成
			if (Dropevent.target.id == 'deleteTodo') {
				Dropevent.target.style.background  = "#EEE";
				document.getElementById('deleteIcon').style.color = '#333';
				//与数据库进行交换
				Urgenthandle(this.i, 4);
			}
			//这是任务删除
			if (Dropevent.target.id == 'completeTodo') {
				Dropevent.target.style.background  = "#EEE";
				document.getElementById('completeIcon').style.color = '#333';
				//与数据库进行交换
				deletehandle(this.i);
			}
			// Dropevent.target.appendChild(document.getElementById(data));

		}
		function allowDrop(Dropevent) {
			Dropevent.preventDefault();
			if (Dropevent.target.id == 'deleteTodo') {
				Dropevent.target.style.background  = "#AAA";
				document.getElementById('deleteIcon').style.color = '#FFF';
			}
			if (Dropevent.target.id == 'completeTodo') {
				Dropevent.target.style.background  = "#AAA";
				document.getElementById('completeIcon').style.color = '#FFF';
			}
		}
		function drag(Dropevent) {
			// Dropevent.dataTransfer.setData("Text",Dropevent.target.id);
			// this.i = Dropevent.dataTransfer.setData("Text",Dropevent.target.id);
			Dropevent.target.style.opacity = "0.4";
			this.i = Dropevent.target;
		}
		function leaveDrop(Dropevent) {
			if (Dropevent.target.id == 'deleteTodo') {
				Dropevent.target.style.background  = "#EEE";
				document.getElementById('deleteIcon').style.color = '#333';
			}
			if (Dropevent.target.id == 'completeTodo') {
				Dropevent.target.style.background  = "#EEE";
				document.getElementById('completeIcon').style.color = '#333';
			}
		}
		document.addEventListener("dragend", function(Dropevent) {
		    Dropevent.target.style.opacity = "1";
		});
	</script>
</body>
</html>