<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main/bootstrap.css">
	<link rel="stylesheet" href="css/main/normalize.css">
	<link rel="stylesheet" href="css/Main.css">
	<link rel="stylesheet" href="css/teambition.css">
	<title>工程大易班</title>
	<style>html,body{height:100%;overflow: hidden;}</style>
</head>
<body onload="getOwnItem()">
	<header>
		<nav>
			<div onclick="indexShow()" class="nav_pic" style="background-image: url(images/SuesYiBanteam.png);"></div>
			<section class="nav_sec1">
				<a class="nav_btn" href="index.php?r=user/item">项目</a>
				<a class="nav_btn" href="index.php?r=user/homepage">我的</a>
				<a class="nav_btn" href="index.php?r=user/order">排班</a>
				<a class="nav_btn" href="index.php?r=user/getmess">动态</a>
			</section>
			<section class="nav_right">
				<a class="nav_btn glyphicon glyphicon-th-list" onclick="showThing()"><span aria-hidden="true"></span></a>
			</section>
		</nav>
	</header>
	<section class="col-xs-12 home_first sec_nav">
		<div class="centerGet_btn">
			<a class="nav_btn" onclick="getOwnItem()">正在进行</a>
			<a class="nav_btn" onclick="ItemWillStart()">待审核</a>
			<a class="nav_btn" onclick="ItemCompleted()">已归档项目</a>
		</div>
	</section>
	<section class="mask_main">
		<div id="item_showbox">
<!-- 			<div class="item_show" style="background-image: url(images/itemImg.jpeg);">
				<h3 class="item_showtit">示例项目</h3>
			</div> -->
		</div>
	</section>
	<section class="cover" id="coverDiv" onclick="hideAll()"></section>
	<section class="showSetting" id="createItem" style="height: 493px;">
		<div class="Set_pic" style="background-image: url(images/New_York.png);">
			<p class="Set_tit">新建项目</p>
		</div>
		<section class="Set_xm">
			<div class="Set_sp">项目名：</div><input class="form-control" type="text" placeholder="项目名" id="insertItemName">
			<div class="Set_sp">项目简介：</div><textarea class="form-control" rows="4" placeholder="项目简介(不能超过64个字)" id="insertiIntro"></textarea>
		</section>
		<p id="createResult" class="Set_btn_P"></p><br>
		<div class="Set_btn_M">
			<button class="Set_btn col-xs-6 handlegreen" onclick="InsertItem()">创建</button>
			<button class="Set_btn col-xs-6" onclick="hideAll()">取消</button>
		</div>
	</section>
	<section class="detailShow" id="detailShow">
		<span onclick="closeDet()" class="glyphicon glyphicon-remove delete_span"></span>
		<section class="det_block">
			<h3 class="det_h3">进行中</h3><br>
			<div class="Detail_sty" id="Detail_Doing" ondrop="drop(event)" ondragover="allowDrop(event)">
<!-- 				<div class="Thedetail" onclick="detailDet()" draggable="true" id="get1" ondragstart="drag(event)">
					<p class="Thedetail_p">123</p>
				</div>
				<div class="detail_add"><p class="Thedetail_p detailadd_p">添加...</p></div> -->
			</div>
		</section>
		<section class="det_block">
			<h3 class="det_h3">已完成</h3><br>
			<div class="Detail_sty" id="Detail_Done" ondrop="drop(event)" ondragover="allowDrop(event)">
			</div>
		</section>
		<section class="det_block">
			<h3 class="det_h3">项目设置</h3><br>
			<div class="Detail_sty" id="Detail_Done">
				<div class="detail_add" onclick="getDoneItem()"><p class="Thedetail_p detailadd_p">归档此项目</p></div> <br>
				<div class="detail_add" onclick="deleteItem()"><p class="Thedetail_p detailadd_p">删除项目</p></div> <br>
				<div>
					<input type="text" class="detail_User" placeholder="用户" id="insertUser"><br><br>
					<div class="detail_add" onclick="insertUser()"><p class="Thedetail_p detailadd_p">插入</p></div>
				</div>
			</div>
		</section>
	</section>
	<section class="detail_model" id="detail_model">
<!-- 		<span onclick="closeModel()" class="glyphicon glyphicon-remove delete_span"></span>
		<div class="" id="detailmodel_Main">
			<textarea name="" id="" cols="30" rows="3" class="detail_Maintext"></textarea>
			<button class="detailmodel_btn" id="" onclick="addInTodo()">添加入今日任务</button>
			<button class="detailmodel_btn" id="">修改</button>
		</div> -->
	</section>
<!-- 	<section class="dropdown-menu">
		<div class="model_SetBlock haveBorder ShowName">
			<p class="centerMomentName" style="text-align: center;">周倩叶</p>
		</div>
		<div class="model_SetBlock haveBorder ChangePassword">
			<input class="centerMomentName sameSizeModel form-control" type="text" placeholder="新密码">
		</div>
		<div class="model_SetBlock haveBorder newPassword">
			<input class="centerMomentName sameSizeModel form-control" type="text" placeholder="再输入一次">
		</div>
		<div class="model_SetBlock ">
			<button class="centerMomentName sameSizeModel">确认</button>
		</div>
	</section> -->
	<script src="js/userHref.js"></script>
	<script src="js/userItem.js"></script>
	<script src="js/jquery.min.js"></script>
	<script>
		var itemIdOnAllShow = 0;
		//关闭这个项目显示的细节
		function closeDet() {
			document.getElementById('detailShow').style.top = '-100%';
		}
		function closeModel() {
			document.getElementById('detail_model').style.left = '-100%';
		}
		//显示状态栏
		function createItem() {
			document.getElementById("coverDiv").style.top = '0px';
			document.getElementById("createItem").style.top = '5%';
			document.getElementById("createItem").style.opacity = 1;
		}
		function hideAll() {
			document.getElementById("coverDiv").style.top = '-999px';
			document.getElementById("createItem").style.top = '-600px';
			document.getElementById("createItem").style.opacity = 0;
		}

		function getOwnItem() {
			$.getJSON('index.php?r=json/getitems', function(data, textStatus) {
				if (textStatus == 'success') {
					if (data.success) {
						$("#item_showbox").empty();
						var msg = data.msg + '<div class="item_show" onclick="createItem()" style="background-color: #EEE;"><br><br><img src="images/addicon.png" class="item_Addicon"></div>';
						$("#item_showbox").append(msg);
					} else {
						$("#item_showbox").append('<div class="item_show" onclick="createItem()" style="background-color: #EEE;"><br><br><img src="images/addicon.png" class="item_Addicon"></div>');
					}
				} else {
					alert("系统错误" + textStatus);
				}
			});
		}
		//拖放，以后完成对象的处理
		var i = '';
		function drop(ev) {
			ev.preventDefault();
			var ChangeStatus = ev.target.id;
			var data = ev.dataTransfer.getData("Text");
			$('#'+ChangeStatus).append(document.getElementById(data));
			// console.log(data);
			// console.log(ev.target.id);
			//与数据库进行交换
			dbStatusChange(ev.target.id, this.i);
		}
		function allowDrop(ev) {
			ev.preventDefault();
		}
		function drag(ev) {
			ev.dataTransfer.setData("Text",ev.target.id);
			this.i = ev.target;
			// this.i = ev.dataTransfer.setData("Text",ev.target.id);
		}
	</script>
</body>
</html>