@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: Montserrat;
}

nav ,.sec_nav{
	width: 100%;
	height: 50px;
	box-shadow: 0px 1px 3px #777;
}
.sec_nav {
	background-color: #EEE;
}

.nav_pic {
	display: inline-block;
	position: relative;
	left: 10px;
	top: 10px;
	width: 15%;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.centerGet_btn {
	float: left;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
}

.nav_sec1 {
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	height: 30px;
}

.nav_btn {
	cursor: pointer;
	color: #222;
	text-decoration:none;
	margin: 15px;
	-webkit-transition: color .2s;
}
.nav_btn:hover {
	color: #F66;
	text-decoration:none;
}

.nav_right {
	position: absolute;
	right: 10px;
	top: 1px;
}

#login {
	position: absolute;
	right: 10px;
	top: 10px;
	margin: 0px;
}

.sec_xm {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
#sec_xm {
	position: relative !important;
	-webkit-transform: translateY(-50%);
	top: 50%;
}
.mask_main {
	margin: 1%;
}
.mask_m {
	border:1px solid #CCC;
	border-radius: 2%;
	margin: 1%;
	float: left;
	width: 31%;
	height: 500px;
	background-color: #EEE;
	overflow-y: auto !important;
}
.mask_div {
	margin: 10%;
}
.mask_tit {
	font-size: 1.5em;
}
.mask_tip {
	background-color: #FFF;
	height: 70px;
	border-left: 14px solid #F00;
	margin-bottom: 10px;
	-webkit-transition:all .2s ease-in-out;
}
.mask_tip:hover {
	border-left: 14px solid #EEE;
}
.mask_tipp {
	margin-left: 20px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	font-size: 2em;
}

.cover {
	opacity: 0.7;
	position: absolute;
	left: 0%;
	top: -999px;
	width: 100%;
	height: 100%;
	background-color: #333;
	z-index: 100;
	-webkit-transition:all .4s ease-in-out;
}

.showSetting {
	overflow: hidden;
	position: absolute;
	z-index: 101;
	opacity: 0;
	width: 500px;
	height: 500px;
	background-color: #FFF;
	border-radius: 5%;
	left: 50%;
	top: -600px;
	-webkit-transform: translateX(-50%);
	-webkit-transition:all .7s ease-in-out;
}
.Set_pic {
	position: relative;
	width: 100%;
	height: 35%;
	background-size: cover;
	background-position: 50% 50%;
}
.Set_tit {
	position: relative;
	color: #EEE;
	font-size: 2em;
	text-align: center;
	text-shadow: 5px 5px 5px #000;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
.Set_btn_M {
	width: 100%;
}
.Set_xm {
	margin: 5%;
}
.Set_btn {
	border: 0px;
	background-color: #06C;
	position: relative;
	color: #EEE;
	top: 43px;
	width: 50%;
	height: 40px;
	-webkit-transition:all .2s ease-in-out;
}
.handlegreen {
	background-color: #096 !important;
}
.handlegreen:hover {
	background-color: #3C9 !important;
}
.Set_btn:hover {
	background-color: #09F;
}
.detailShow {
	position: absolute;
	top: 0%;
	top: -100%;
	left: 0%;
	z-index: 1000;
	width: 100%;
	height: 92%;
	background-color: rgba(120,120,120,0.5);
	-webkit-transition:all 0.7s ease-in-out;
}
.det_block {
	border-radius: 7px;
	margin:2.5% 1%;
	width: 30%;
	height: 90%;
	float: left;
	background-color: #FFF;
	position: relative;
}
.delete_span {
	top: 2%;
	right: 2%;
	float: right;
	-webkit-transition:all .2s ease-in-out;
}
.delete_span:hover {
	color: #C66;
}
.Detail_sty {
	width: 100%;
	height: 80%;
}
.det_h3 {
	margin-left: 10%;
}
.Thedetail {
	margin: 10px 0px;
	cursor: pointer;
	border-left: 10px solid #CCC;
	width: 100%;
	height: 50px;
	-webkit-transition:all .2s ease-in-out;
}
.Thedetail:hover {
	background-color: #EEE;
}
.Thedetail_p {
	position: relative;
	margin-left: 10px;
	font-size: 1.4em;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
.detail_add {
	height: 45px;
	cursor: pointer;
	background-color: #EEE;
	-webkit-transition:all .2s ease-in-out;
}
.detail_add:hover {
	background-color: #ABCDEF;
	border-radius: 22.5px;
	color: #FFF;
}
.detailadd_p {
	text-align: center;
}
.detail_model {
	border-radius: 7px;
	position: absolute;
	top: 50%;
	/*left: 50%;*/
	left: -100%;
	z-index: 1001;
	width: 500px;
	height: 500px;
	background-color: #EEE;
	-webkit-transition:all .7s ease-in-out;
	-webkit-transform: translateX(-50%) translateY(-50%);
}
.detail_Maintext {
	position: relative;
	top: 30px;
	left: 50%;
	outline:none;
	border: 0px;
	width: 80%;
	-webkit-transform: translateX(-50%);
}
.detailmodel_btn {
	margin: 10px 0px;
	border: 0px;
	background-color: #EEE;
	position: relative;
	top: 60px;
	width: 80%;
	height: 45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-webkit-transition:all .2s ease-in-out;
}
.detailmodel_btn:hover {
	background-color: #AAA;
}
.detail_User {
	
	width: 100%;
	height: 30px;
	-webkit-transition:all .2s ease-in-out;	
}
.detail_User:hover {
}
.detail_User:focus {

}

.setting {
	position: absolute;
	top: 40px;
	right: 25px;
	padding: 10px 0px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid #CCC;
	background-color: #FFF;
	overflow: hidden;
}
.setting_block {
	cursor: pointer;
	position: relative;
	height: 30px;
	width: 100%;
	-webkit-transition:all .2s ease-in-out;
}
.setting_block:hover {
	background-color: #EEE;
}
 .setting_p {
 	position: relative;
 	top: 50%;
	font-size: 1.1em;
	-webkit-transform: translateY(-50%);
	padding: 0px 15px;

 }
 .setting_underline {
	margin: 10px 0px;
	height: 1px;
	background-color: #CCC;

 }
 .setting_logout {
 	padding: 0px 15px;
 	text-align: left;
 	background-color: #FFF;
	border: 0px; 
}
.setting_textfield {
	padding: 0px 15px;
	height: 30px;
	outline: none;
	border: 0px;
	-webkit-transition:all .5s ease-in-out;
}
.setting_textfield:hover, .setting_textfield:focus{
	background-color: #EEE;
}